<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML5 Structure</title>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="js/vue.js"></script> 
    <script>
        new Vue({ 
            el: '#app',
            data: {
                message: 'Hello' + ' Vue.js'
            } 
        });
    </script>
</body>

</html>