<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditional Rendering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <div v-if="showAlertPrimary" class="alert alert-primary">
            v-if Alert
        </div>
        <div v-show="showAlertSecondary" class="alert alert-secondary">
            v-show Alert
        </div>

        <div>
            <button v-on:click="showAlertPrimary = !showAlertPrimary" class="btn btn-primary">Toggle Message (v-if)</button>
            <button v-on:click="showAlertSecondary = !showAlertSecondary"class="btn btn-secondary">Toggle Message (v-show)</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
    new Vue({
        el: '#app',
        data: {
            showAlertPrimary: true,
            showAlertSecondary: true
        }
    })
    </script>
</body>
</html>