<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computed Property 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">  
    <style>
        .sort-control {
            cursor: pointer;
        }
        .ascending::after {
            content: "\25b2";
        }
        .descending::after {
            content: "\25bc";
        }
    </style>  
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Framework</th>
                    <th @click="toggle" :class="['sort-control', sortType]">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="framework of topTenFrameworksSorted">
                    <td>{{ framework.name }}</td>
                    <td>{{ framework.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
    new Vue({
        el: '#app',
        data: {
            topTenFrameworks: [
                { name: "Spring", score: 88 },
                { name: "ASP NET", score: 100 },
                { name: "Ruby on Rails", score: 95 },
                { name: "Express", score: 87 },
                { name: "AngularJS", score: 96 },
                { name: "Django", score: 91 },
                { name: "Angular", score: 89 },
                { name: "Laravel", score: 89 },
                { name: "React", score: 93 },
                { name: "Vue.js", score: 89}
            ],
            order: 1
        },
        computed: {
            topTenFrameworksSorted() {
                // return this.topTenFrameworks.sort((a, b) => (a.score - b.score));   // ASC
                // return this.topTenFrameworks.sort((a, b) => (a.score - b.score) * -1); // DESC
                return this.topTenFrameworks.sort((a, b) => (a.score - b.score) * this.order);
            },
            sortType() {
                return this.order == 1 ? 'ascending' : 'descending';
            }
        },
        methods: {
            toggle() {
                return this.order *= -1;
            }
        }        
    })
    </script>
</body>
</html>
