<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <table class="table table-bordered">
            <tr>
                <th>Framework</th>
                <th>Github Score</th>
                <th>Stack Overflow Score</th>
                <th>Overall Score</th>
            </tr>
            <tr v-for="({name, github, stackoverflow, overall}) of topTenFrameworks">
                <td>{{ name }}</td>
                <td>{{ github }}</td>
                <td>{{ stackoverflow }}</td>
                <td>{{ overall }}</td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
    new Vue({    
        el: '#app',
        data: {
            topTenFrameworks: [
                { name: "ASP.NET", github: null, stackoverflow: 100, overall: 100 },
                { name: "AngularJS", github: 96, stackoverflow: 97, overall: 96 },
                { name: "Ruby on Rails", github: 92, stackoverflow: 98, overall: 95 },
                { name: "ASP NET", github: null, stackoverflow: 94, overall: 94 },
                { name: "React", github: 100, stackoverflow: 87, overall: 93 },
                { name: "Django", github: 89, stackoverflow: 94, overall: 91 },
                { name: "Angular", github: 90, stackoverflow: 89, overall: 89 },
                { name: "Laravel", github: 91, stackoverflow: 88, overall: 89 },
                { name: "Spring", github: 84, stackoverflow: 92, overall: 88 },
                { name: "Express", github: 91, stackoverflow: 83, overall: 87 }
            ]        
        }
    })
    </script>
</body>
</html>