<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <ul class="list-group">
            <li class="list-group-item" v-for="framework in topTenFrameworks">{{ framework }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
    new Vue({    
        el: '#app',
        data: {
            topTenFrameworks: [
                "ASP.NET", "AngularJS", "Ruby on Rails", "ASP.NET MVC", "React", "Django", "Angular", "Laravel", "Spring", "Express",
            ]
        }
    })
    </script>
</body>
</html>