<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Handling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <div class="progress">
          <div class="progress-bar" role="progressbar" :style="{ 'width': width + '%'}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              {{ width }}%
          </div>
        </div>
        <br>
        <input type="range" v-model="width" min="0" max="100">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
    new Vue({
        el: '#app' , 
        data: {
            width: 20
        }      
    })
    </script>
</body>
</html>
